@import "tailwindcss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.home-container {
  width: 100%;
  height: 100vh;
  display: flex;
  
}

.home-container-galeria {
  width: 80%;
  position: absolute;
  top: 0;
  right: 0;
  padding: 2%;
  display: inline-block;
}